# Base packages
streamlit
pandas

# Install fairchem-core first
fairchem-core==2.0.0


# Pin specific versions to override dependencies
numpy
git+https://github.com/e3nn/e3nn.git@0.4.4#egg=e3nn
mace-torch
py3dmol
